html, body {
  margin: 0;
  height: 100%;
}

#map {
  width: 100vw;
  height: 100vh;
}

/* FAKE 3D RIDER */
.rider-3d-icon img {
  width: 50px;
  height: 50px;

  transform-origin: center;
  filter: drop-shadow(0 8px 10px rgba(0, 0, 0, 0.45));

  transition: transform 0.15s linear;
  pointer-events: none;
}



